<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="tests" thread-count="2" name="Suite">
  <test name="Test">
  <groups>
  	<run>
  		<include name="mailbox_page"/>
  		
  	</run>
  </groups>
    <classes>
      <class name="scripts.TC_RegressionTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test1">
  <groups>
  	<run>
  		<include name="user_page"/>
  		
  	</run>
  </groups>
    <classes>
      <class name="scripts.TC_RegressionTest"/>
    </classes>
  </test>  
</suite> <!-- Suite -->
