<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite">
  <test name="Test">
  <groups>
  	<run>
  		<include name="user_page"/>
  		
  	</run>
  </groups>
    <classes>
      <class name="scripts.TC_RegressionTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
